.lsg-portfolio-wrap {background: #222;}

.section-intro {height: 320vh;clip-path: circle(20%);transition: all 1.8s cubic-bezier(0.35, 1.5, 0.6, 1);}
.section-intro.active {clip-path: circle(100%);}
.my-story__container {position: fixed;width: 100%;height: 100vh;background: url(../img/my_story_bg.jpg) 0 0 no-repeat;background-size: cover;}
.my-story {position: absolute;top: 50%;transform: translate(0, -50%);text-align: center;width: 100%;transition: all 0.5s cubic-bezier(0.35, 1.5, 0.6, 1);}
.my-story span {font-size: 15rem;color: #f0eeeb;font-weight: 700;text-align: center;transition: all 0.5s cubic-bezier(0.35, 1.5, 0.6, 1);}
.my-story__svg {width: 120px;height: 120px;transition: all 0.5s cubic-bezier(0.35, 1.5, 0.6, 1);}
.my-story__shape {width: 100px;height: 100px;transition: all 0.5s cubic-bezier(0.35, 1.5, 0.6, 1)}

.section-work {height: 1900vh;}
.work-period {height: 100vh;position: sticky;top: 0;}
.work-period .work-period__year-group {position: absolute;width: 100%;top: 50%;left: 0;opacity: 0.1;transform: translate(0, -50%);transition: opacity 0.1s linear;text-align: center;}
.work-period .work-period__year-group span {font-family: "Cormorant Infant", serif;font-size: clamp(3rem, 1.282vw + 2.538rem, 5rem);color: #fff;font-weight: 600;}
.work-period .work-period__start-year:after {content: '';background: url(../img/dashed_line.png) 0 0 no-repeat;display: inline-block;width: var(--line-width, 0px);height: 6px;transition: all 0.2s;margin: 0 0.6vw;vertical-align: middle;}
.work-period .work-period__title {margin-top: 5vw;}
.work-period .work-period__title p {display: inline-block;font-size: clamp(2rem, 0.641vw + 1.769rem, 3rem);background: linear-gradient(to right, #fff, #fff) no-repeat;background-clip: text;background-size: 0%;color: rgba(255,255,255,.2);    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;}

.history-career {height: 100vh;position: sticky;top: 0;text-align: center;opacity: 0;}
.history-career__container {position: relative;height: 100vh;}
.history-career__item {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 2;}
.history-career__item > div {height: clamp(2.2rem, 0.385vw + 2.062rem, 2.8rem);overflow: hidden;}
.history-career__item > div span {display: block;font-size: clamp(1.6rem, 0.256vw + 1.508rem, 2rem); color: #fff;transform: translateY(0);transition: transform 0.6s cubic-bezier(0.35, 1.5, 0.6, 1);line-height: 1.3;}
.history-career__item > div.history-career__year {height: clamp(4rem, 1.603vw + 3.423rem, 6.5rem);}
.history-career__item > div.history-career__year span {font-family: "Cormorant Infant", serif;font-size: clamp(3rem, 1.282vw + 2.538rem, 5rem);font-weight: 700;transition-delay: 0.1s;}
.history-career__item > div.history-career__role {margin-top: 20px;}
.history-career__item > div.history-career__role span {transition-delay: 0.2s;}
.history-career .history-career__background {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(0deg);transition: transform 0.6s cubic-bezier(0.35, 1.5, 0.6, 1);z-index: 1;opacity: 0.4;width: clamp(30rem, 16.026vw + 24.231rem, 55rem);height: clamp(34rem, 13.462vw + 29.154rem, 55rem);}
.history-career .history-career__background svg line {opacity: 0.1;transition: opacity 0.6s cubic-bezier(0.35, 1.5, 0.6, 1)}

.history-work {/*margin-top: 2800px;*/margin-top: 450vh;}
.history-work__container {padding: 0 clamp(2rem, 17.949vw - 4.462rem, 30rem);}
.history-work__item {display: flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 55vw;gap: 18vw 0;}
.history-work .history-work__group {width: clamp(18rem, 19.231vw + 11.077rem, 48rem);}
.history-work .history-work__group:nth-child(even) {width: clamp(15rem, 14.744vw + 9.692rem, 38rem);margin: 32vw 5vw 0vw 0vw;}
.history-work .history-work__img {position: relative;overflow: hidden;}
.history-work .history-work__img img {width: 100%;border-radius: 1vw;position: relative;}
.history-work .history-work__img:hover span {right: -1.5rem;bottom: -1.5rem;transform: scale(1);}
.history-work .history-work__img:hover span img {transform: rotate(0);}
.history-work .history-work__more-btn {position: absolute;right: -5rem;bottom: -5rem;transform: scale(0);transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);background: #000;border-radius: 50%;padding: 2rem;border: 20px solid #222;}
.history-work .history-work__more-btn img {width: 1.5rem;transform: rotate(90deg);transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);}

@media(max-width: 1024px){
    .my-story span {font-size: 7rem;}
    .my-story__svg {width: 60px;height: 60px;}
    .my-story__shape {width: 44px;height: 44px;stroke-width: 12px;}
}

